body {
}
#banner {
	background-color: #ededed;
	border: solid 2px gray;
	border-radius: 15px;
	padding: 1% 5%;
}
.section{
	background-color: white;
	margin: 5%;
}
#footer{
	padding-left: 5%;
  position: absolute;
  bottom: 1%;
}